<p-select
  [options]="categories"
  [(ngModel)]="selectedCategory"
  optionLabel="name"
  optionValue="id"
  placeholder="選擇分類"
  (onChange)="onCategoryChange()"
>
</p-select>

<!-- <p *ngIf="selectedCategory">你選擇的分類 ID: {{ selectedCategory }}</p> -->
<p-table
  [value]="filteredAttractions"
  [paginator]="true"
  [rows]="rows"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [first]="first"
  (onPage)="onPageChange($event)"
  selectionMode="multiple"
  [(selection)]="selectedAttractions"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th>Name</th>
      <th>District</th>
      <th>Address</th>
      <th>Picture</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-attraction>
    <tr [pSelectableRow]="attraction">
      <td>
        <p-tableCheckbox [value]="attraction"></p-tableCheckbox>
      </td>
      <td>{{ attraction.name }}</td>
      <td>{{ attraction.distric }}</td>
      <td>{{ attraction.address }}</td>
      <td>
        <ng-container *ngIf="attraction.images.length > 0">
          <img [src]="attraction.images[0].src" width="80" />
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- <div style="margin-top: 1rem">
  <button pButton label="加入最愛" (click)="addToFavorite(selectedAttractions)">
  </button>
</div> -->
